<html>
  <body>
    <div><b>User information via id_token</b></div>
    <div>{{name}}</div>
    <div>{{email}}</div>
    <div><img src="{{picture}}"></img></div>
    <br>
    <div><b>Access_token that can be sent to a Google API</b></div>
    <div>{{access_token}}</div>
  </body>
</html>
